.user{
    flex: 4;
    padding: 20px;
}


.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

/* User Show Top */

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

/* User Show Bottom */

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

/* User Update */

.userUpdate{
    flex: 2;
    padding: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}